# База данных
DATABASE_URL=postgresql+asyncpg://diet_app_user:P%40ssw0rd@localhost:5432/diet_app_db

# Ollama
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3.1:8b

# JWT
SECRET_KEY=jAYQmfg0Aw9KhBs58ZHj6F90wKqWtNcj
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]

# Redis
REDIS_URL=redis://localhost:6379/0

# Логирование
LOG_LEVEL=INFO
